@use "/src/sass/base/variables.scss" as *;

.info {
    margin-top: 50px;

    &__title {
        margin-top: 60px;
    }

    &__img {
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &__block {
        margin-top: 60px;
        row-gap: 35px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: normal;
        color: $dark;
        word-break: break-word;
        overflow-wrap: break-word;
        white-space: normal;
    }
}

@media screen and (min-width: 768px) {
    .info {
        &__block {
            &-img {
                padding: 0 60px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .info {
        &__block {
            column-gap: 0px;

            &-img {
                padding: 0 20px 0 0;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .info {
        margin-top: 40px;

        &__title {
            margin-top: 100px;
        }

        &__block {
            margin-top: 100px;
        }

        p {
            font-size: 20px;
        }
    }
}